*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#5675b6;
color:white;
}

header{

display:flex;

justify-content:space-between;

padding:20px;

background:#111827;

position:sticky;

top:0;

}

nav a{

color:white;

text-decoration:none;

margin-left:20px;

}

.hero{

text-align:center;

padding:60px;

}

.hero img{

width:180px;

height:180px;

border-radius:50%;

border:5px solid cyan;

}

button{

margin-top:20px;

padding:12px 25px;

background:cyan;

border:none;

cursor:pointer;

font-size:18px;

border-radius:8px;

}

section{

padding:50px;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:20px;

}

.cards div{

background:#1e293b;

padding:25px;

text-align:center;

border-radius:10px;

}

.project{

background:#1e293b;

padding:20px;

margin-top:20px;

border-radius:10px;

}

footer{

text-align:center;

padding:20px;

background:#111827;

}